.correct {
  background-color: green;
  color:white;
}
.wrong {
  background-color: red;
  color: #ffffff;
  
}
.option {
  margin:10px;
}
.progress {
  background-color:#ddd;
  width:100%;
  height:8px;
}
#progress-Bar {
  background-color:green;
  width:0%;
  height:8px;
}